@import "./mixins";

.container {
	@include center-auto;
	width: unquote("min(90%, 1100px)");
}

.mobile-container {
	@include center-auto;

	@include breakpoint-up(medium) {
		width: unquote("min(90%, 1100px)");
        padding: clamp(3rem, 5.5vw, 4rem) 0;
	}
}

.text-center {
	text-align: center;
}
