<div class="go-back">
  <%= link_to 'javascript:history.back()', class: "go-back-nav" do %>
    <svg width="7" height="10" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L2 5l4-4" stroke="#4661E6" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    Go Back
  <% end %>

  <% if editable %>
    <%= link_to 'Edit Feedback', new_feedback_path, class: "bordered-link blue" %>
  <% end %>
</div>